# Remove this line first before doing anything
___________PLOX_______REMOVE_____THIS_____LINE__________=True

# Prendile da https://my.telegram.org/
API_KEY = "LA TUA API KEY"
API_HASH = "LA TUA API HASH"

# OpenWeather Map API Key per il commando .weather
# Prendila da https://openweathermap.org/
OPEN_WEATHER_MAP_APPID = ""
WEATHER_DEFCITY = ""

# Location of ChromeDriver for .carbon module
# Example for Linux Machines : "/usr/bin/chromedriver"
CHROME_DRIVER = ""

# Prendila eseguendo python3 string_session.py su termux
STRING_SESSION = ""

# Headless GoogleChrome location for .carbon module
# Example for Linux Machines : "/usr/bin/chromium-browser"
GOOGLE_CHROME_BIN = ""

# OCR Space API Key per .ocr
# Prendila da https://ocr.space/ocrapi
OCR_SPACE_API_KEY = ""

# remove.bg API Key per .rbg
# Prendila da https://www.remove.bg/api
REM_BG_API_KEY = ""

# ChatID per il gruppo log
# Add a Hypen or a Negative Sign before ID
# This is a integer, Please don't use Strings
BOTLOG_CHATID = # this is an integer, please don't use quotes.

# Nel caso che vuoi disattivare il logging metti questo su false
BOTLOG = True

# Imposta questo su True
# .
# .
LOGSPAMMER = True

# If you need Verbosity on the Logging
CONSOLE_LOGGER_VERBOSE = False

# Auto ban pm (non consigliato)
PM_AUTO_BAN = False

# Il tuo nome su Telegram
ALIVE_NAME = None

# Your Database URL
# Example: 'postgres://userbot:userbot@localhost:5432/userbot'
DATABASE_URL = ""

# YouTube Data API Key for .yt command
# Get from https://console.cloud.google.com
YOUTUBE_API_KEY = ""

# Country and Time Zone setup for
# .time and .date modules
COUNTRY = ""
TZ_NUMBER = # this is an integer, please don't use quotes.

# Google Drive Credentials
# for .gdrive module.
# Get from https://console.cloud.google.com
G_DRIVE_CLIENT_ID = ""
G_DRIVE_CLIENT_SECRET = ""
G_DRIVE_AUTH_TOKEN_DATA = ""
TEMP_DOWNLOAD_DIRECTORY = ""

# You have to have your own unique two values for API_KEY and API_SECRET
# Obtain yours from https://www.last.fm/api/account/create for Last.fm
LASTFM_API = None
LASTFM_SECRET = None
LASTFM_USERNAME = None # Your last.fm username
LASTFM_PASSWORD = "Your last.fm password"

# Bot will add before song name. For last.fm module.
# Example: GitHub: MacTavishAO : Skillet - Feel Invincible
BIO_PREFIX = ""

# La tua bio
DEFAULT_BIO = ""

# Report or kick some known spammer bots after
# they joins
ANTI_SPAMBOT = False
ANTI_SPAMBOT_SHOUT = False
